<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Matéria</title>
</head>
<body>
    <h1>Adicionar Nova Matéria</h1>
    <form method="POST" action="/adicionar-materia">
        {{ form.hidden_tag() }}
        <p>{{ form.id_materia.label }}: {{ form.id_materia }}</p>
        <p>{{ form.nome.label }}: {{ form.nome }}</p>
        <p>{{ form.professor.label }}: {{ form.professor }}</p>
        <p>{{ form.enviar }}</p>
    </form>
</body>
</html>
